@import "tailwindcss";

*{
  box-sizing: border-box;
}
body,html{
  height:100%;
  width:100%;

}
nav{
  /* padding: .5rem 1rem; */
}


/* Hide scrollbar specifically for HeroBox */
.herobox-scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.herobox-scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.group:hover::after {
          width: 100%;
}
.group::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    background-color: black;
    width: 0%;
    transition: width 0.3s;
}
html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-right {
  animation: scroll-right 40s linear infinite;
}

.animate-scroll-left {
  animation: scroll-left 40s linear infinite;
}

        
